In [1]:
import pandas as pd
df = pd.read_csv('/home/geraltwolf/Downloads/final_data.csv')
df

,Unnamed: 0,index,quantity,price,city,date,year,total,month_of_year
0,0,0,1500,170.310000,Абакан,2024-04-07,2024,2.554650e+05,2024-04
1,1,1,260,521.000000,Ижевск,2024-11-25,2024,1.354600e+05,2024-11
2,2,2,180,521.000000,Ижевск,2024-11-21,2024,9.378000e+04,2024-11
3,3,3,780,205.076923,Ижевск,2024-11-18,2024,1.599600e+05,2024-11
4,4,4,370,212.213600,Ижевск,2024-11-18,2024,7.851903e+04,2024-11
...,...,...,...,...,...,...,...,...,...
2158,2158,2169,1500,155.828700,Чита,2024-12-17 00:00:00,2024,2.337430e+05,2024-12
2159,2159,2170,750,172.470600,Чита,2024-12-12 00:00:00,2024,1.293529e+05,2024-12
2160,2160,2171,1800,181.048743,Абакан,2024-12-10 00:00:00,2024,3.258877e+05,2024-12
2161,2161,2172,8010,154.315800,Южно-Сахалинск,2024-12-16 00:00:00,2024,1.236070e+06,2024-12
2162,2162,2173,1530,186.566400,Янаул,2024-12-07 00:00:00,2024,2.854466e+05,2024-12