In [4]:
import pandas as pd

In [1]:
import sys
print(sys.executable)

/home/geraltwolf/tests_sales_dashboard/venv/bin/python

In [2]:
import os
files = os.listdir('/home/geraltwolf/Downloads')
print("Files in Downloads:", [f for f in files if f.endswith('.xlsx')])

Files in Downloads: ['hep_c.xlsx', 'test.xlsx']

In [6]:
pd.set_option('display.float_format', '{:,.2f}'.format)

In [7]:
df = pd.read_excel('/home/geraltwolf/Downloads/hep_c.xlsx')
df

           date  quantity  price       amount        city
0    2023-04-07      1500 170.31   255,465.00      Абакан
1    2023-11-25       260 521.00   135,460.00      Ижевск
2    2023-11-21       180 521.00    93,780.00      Ижевск
3    2023-11-18       780 205.08   159,960.00      Ижевск
4    2023-11-18       370 212.21    78,519.03      Ижевск
...         ...       ...    ...          ...         ...
2030 2024-12-05      1620 160.00   259,200.00        Юрга
2031 2024-12-12     37490 120.00 4,498,800.00      Якутск
2032 2024-12-22      3020 139.00   419,780.00  Ялуторовск
2033 2024-11-07      1530 123.32   188,675.12       Янаул
2034 2024-10-09       450 109.09    49,089.38   Ярославль

[2035 rows x 5 columns]